:root {
    --bg-primary: #C0D6DF;
    --bg-highlight: #FFFFF9;
    --bg-light: whitesmoke;
    --bg-midtone: #84A2AE;
    --bg-dark: #30424A;

    --clr-lightest: white;
    --clr-light: #DCDCDC;
    --clr-subdued: #aaa;

    --ff-accent: "Baskerville", serif;
    --ff-primary: "Helvetica", sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body, h1, h2, h3, div, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--ff-primary);
    font-weight: 400;
    font-size: 1.3125rem;
    line-height: 1.6;
}

h1, h2, h3 {
    font-family: var(--ff-accent);
    font-weight: 900;
}

p {
    font-family: var(--ff-primary);
    padding: 0.25rem 0;
}

.page {
    background-color: var(--bg-midtone);
    min-width: 20rem;
}

.container {
    margin: auto;
    width: min(90%, 70rem);
}

.container_light {
    background-color: var(--bg-light);
    border-radius: 0.5rem;
    margin: auto;
    width: min(90%, 70rem);
}

.container_grid {
    width: 98%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.card {
    background-color: var(--bg-light);
    border-radius: 1rem;
    margin: 0.5rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.card__para {
    padding: 1rem;
    font-size: 1rem;
}

.card__img {
    border: 0.1rem solid var(--clr-subdued);
    border-radius: 0.5rem;
    margin: 0.25rem 0.25rem 0.25rem -0.25rem;
    width: 98%;
}

.card__list {
    margin-inline: 0.3rem;
    list-style-position: inside;
    list-style-type: square;
    color: var(--ff-accent);
}

.gridList {
    display: grid;
     /* grid-template-columns: repeat(auto-fit, 33%); */
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    grid-auto-flow: dense;
    list-style-type: none;
}

.gridList li {
    text-align: left;
}

.skillList {
    margin-left: -0.25rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, 33%);
    grid-auto-flow: dense;
    list-style-type: none;
}

.skillList li {
    background-color: var(--bg-dark);
    color: var(--clr-light);
    font-size: 0.8rem;
    margin: 0.25rem;
    text-align: center;
}

.skillList li:first-child {
    font-weight: bold;
}

.split {
    display: flex;
    flex-direction: column;
}

@media (min-width: 70em) {
    .page {
        padding: 1.5rem;
    } 

    .container_grid {
        margin: auto;
        width: min(95%, 80rem);
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    }

    .split {
        flex-direction: row;
    }

    .split > * {
        flex-basis: 100%;
    }

    .split:nth-child(even) {
        flex-direction: row-reverse;
    }

    .split:nth-child(odd) {
        flex-direction: row;
    }
}

.bg-light {
    background-color: var(--bg-light);
}

.bg-midtone {
    background-color: var(--bg-midtone);
}

.bg-dark {
    background-color: var(--bg-dark);
    color: var(--clr-light);
}

.icon {
    color: #30424A;
    text-align: left;
    min-width: 1rem;
    margin-inline: 0 0.25rem;
}
