#root {
    align-items: flex-start;
    background-color: var(--bg-dark);
    color: var(--clr-light);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 2rem;
}

#logo {
    cursor: pointer;
    height: 6rem;
    margin-right: -6rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

@media (min-width: 80em) {
    #root {
        flex-direction: row;
        align-items: flex-end;
    }
}

.title {
    color: var(--clr-lightest);
    font-size: 2.5rem;
    margin-bottom: -0.75rem;
    letter-spacing: 0.25rem;
}

.subtitle {
    font-size: 1.5rem;
    letter-spacing: 0.125rem;
    color: var(--clr-subdued);
}

.navigation {
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    list-style-type: none;
}

@media (min-width: 40em) {
    .navigation {
        flex-direction: row;
    }
}

.navigation > li  {
    margin-inline: 0 3rem;
}

.navigation > li > a {
    color: var(--clr-light);
    text-decoration: none;
}
