
#root {
    background-color: var(--bg-light);
    border: 1px solid var(--bg-dark);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    justify-content: flex-start;
    margin: 0.5rem;
    padding: 1rem;    
}

#header {
    margin-bottom: 0.5rem;
}

#header > h2 {
    font-family: var(--ff-primary);
    font-size: 1.1rem;
    font-weight: normal;
}

#header > h3 {
    background-color: #B1D8ED;
    border: 0.5px solid var(--bg-dark);
    border-radius: 0.25rem;
    color: var(--clr-dark);
    font-size: 1.2rem;
    margin: 0.1rem 0.1rem 0.1rem -0.05rem;
    text-align: center;
}

.top_corner {
    display: block;
}

.img {
    border: 0.5px solid var(--bg-dark);
    border-radius: 0.5rem;
    margin: 0.25rem 0.25rem 0.25rem -0.125rem;
}

.gridList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    grid-auto-flow: dense;
    list-style-type: none;
}

.gridList li {
    text-align: left;
}

#synopsis {
    flex-grow: 1;
    padding: 0.5rem;
    padding-left: 0;
    text-align: justify;
}

.skillList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    grid-auto-flow: dense;
    list-style-type: none;
    margin-left: -0.25rem;
}

.skillList li {
    background-color: var(--bg-dark);
    color: var(--clr-light);
    font-size: 0.8rem;
    margin: 0.25rem;
    text-align: center;
}


/* mobile landscape */
/* @media all and (min-width: 480px) {
} */
@media all and (min-width: 480px) {
    .top_corner {
        display: inline;
        float: right;
        margin-right: 1rem;
    }
}
