
#root {
    align-items: center;
    background-color: var(--bg-light);
    border: 1px solid var(--bg-dark);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    justify-content: flex-start;
    margin: 0.5rem;
    padding: 1rem;    
}

#header {
    margin-bottom: 0.5rem;
}

#header > h2 {
    font-size: 1.25rem;
    font-weight: normal;
}

#header > h3 > .icon {
    color: #30424A;
    font-size: 3rem;
}

.quotationMarkLeft {
    color: var(--clr-light);
    margin-left: -1rem;
    margin-right: 0.25rem;
}

.quotationMarkRight {
    color: var(--clr-light);
    margin-left: 0.25rem;
}

#quote {
    font-family: Cambria, Cochin, Georgia, Times, serif;
    font-style: oblique;
    font-size: 1.2rem;
    flex-grow: 1;
    text-align: justify;
}

.projectsList {
    list-style-type: square;
    list-style-position: inside;
    padding-bottom: 2rem;
}

.projectsList li {
    text-align: left;
    font-size: small;
}

#footer {
    color: var(--bg-dark);
    font-size: 0.8rem;
    font-weight: bold;
}